<%- include("../partials/head", { title: "Marmiplon - Recette"}) %>
<%- include("../partials/header") %>

<main>
    <h2><%= data.title %></h2>
    <h2><%= data.recipe %></h2>

    <section>
        <h3>Ingrédients</h3>
        <ul>
            <% if (data.ingredients) { %>
                <% data.ingredients.forEach(function(step) { %>
                    <li><%= step %></li>
               <% }) %>
           <% } %>
        </ul>
    </section>

    <section>
        <h3>Instructions</h3>
        <ul>
            <% if (data.instructions) { %>
                <%data.instructions.forEach(function(step) { %>
                    <li><%= step %></li>
                <% }) %>
            <% } %>
        </ul>
    </section>

    <a href="/mainCourse" class="btn">Retour aux plats</a>
</main>

<%- include("../partials/footer") %>